dashboard/docs/n8n-workflows/01-ava-call-logger.json
{
  "name": "01 · Ava Call Logger",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ava-call-log",
        "options": {
          "rawBody": true
        },
        "responseMode": "responseNode"
      },
      "id": "webhook-retell",
      "name": "Retell Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "ava-call-log",
      "notes": "Receives call_started / call_ended / call_analyzed events from Retell AI.\nConfigure this webhook URL in the Retell dashboard under your agent's webhook settings."
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.event }}",
              "operation": "equals",
              "value2": "call_analyzed"
            }
          ]
        }
      },
      "id": "filter-analyzed",
      "name": "Only call_analyzed",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [460, 300],
      "notes": "We only need to act on call_analyzed — it fires last and contains the full transcript and analysis."
    },
    {
      "parameters": {
        "jsCode": "const call = $json.call;\nconst analysis = call.call_analysis ?? {};\n\n// Determine outcome from analysis\nlet outcome = 'resolved';\nif (analysis.in_voicemail) outcome = 'voicemail';\nelse if (analysis.call_successful === false) outcome = 'follow_up_required';\nelse {\n  const summary = (analysis.call_summary ?? '').toLowerCase();\n  if (summary.includes('book') || summary.includes('appointment confirmed')) outcome = 'booked';\n  else if (summary.includes('escalat') || summary.includes('transfer')) outcome = 'escalated';\n}\n\n// Determine urgency\nlet urgency = 'low';\nconst summary = (analysis.call_summary ?? '').toLowerCase();\nif (summary.includes('urgent') || summary.includes('emergency') || summary.includes('a&e')) urgency = 'urgent';\nelse if (summary.includes('pain') && summary.includes('severe')) urgency = 'high';\nelse if (summary.includes('follow up') || summary.includes('callback')) urgency = 'medium';\n\nconst durationMs = call.duration_ms ?? (\n  call.end_timestamp && call.start_timestamp\n    ? call.end_timestamp - call.start_timestamp\n    : null\n);\n\nreturn [{\n  callId: call.call_id,\n  agentId: call.agent_id,\n  callType: call.call_type ?? 'phone_call',\n  callStatus: 'analyzed',\n  callerPhone: call.from_number ?? null,\n  toNumber: call.to_number ?? null,\n  patientId: call.metadata?.patientId ?? null,\n  reasonForCall: call.metadata?.reasonForCall ?? null,\n  outcome,\n  urgency,\n  callSummary: analysis.call_summary ?? null,\n  userSentiment: analysis.user_sentiment ?? null,\n  callSuccessful: analysis.call_successful ?? null,\n  inVoicemail: analysis.in_voicemail ?? false,\n  transcript: call.transcript ?? null,\n  recordingUrl: call.recording_url ?? null,\n  durationSeconds: durationMs != null ? Math.round(durationMs / 1000) : null,\n  startTimestamp: call.start_timestamp ?? null,\n  endTimestamp: call.end_timestamp ?? null,\n  disconnectionReason: call.disconnection_reason ?? null,\n  updatedAt: new Date().toISOString(),\n}];"
      },
      "id": "transform-call",
      "name": "Transform call data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://firestore.googleapis.com/v1/projects/{{ $env.FIREBASE_PROJECT_ID }}/databases/(default)/documents/clinics/{{ $env.RETELL_CLINIC_ID }}/voiceInteractions/{{ $json.callId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={\n  \"fields\": {\n    \"callId\": {\"stringValue\": \"{{ $json.callId }}\"},\n    \"agentId\": {\"stringValue\": \"{{ $json.agentId }}\"},\n    \"callStatus\": {\"stringValue\": \"{{ $json.callStatus }}\"},\n    \"outcome\": {\"stringValue\": \"{{ $json.outcome ?? '' }}\"},\n    \"urgency\": {\"stringValue\": \"{{ $json.urgency ?? '' }}\"},\n    \"callSummary\": {\"stringValue\": \"{{ $json.callSummary ?? '' }}\"},\n    \"userSentiment\": {\"stringValue\": \"{{ $json.userSentiment ?? '' }}\"},\n    \"inVoicemail\": {\"booleanValue\": {{ $json.inVoicemail }}},\n    \"transcript\": {\"stringValue\": \"{{ $json.transcript ?? '' }}\"},\n    \"recordingUrl\": {\"stringValue\": \"{{ $json.recordingUrl ?? '' }}\"},\n    \"durationSeconds\": {\"integerValue\": \"{{ $json.durationSeconds ?? 0 }}\"},\n    \"startTimestamp\": {\"integerValue\": \"{{ $json.startTimestamp ?? 0 }}\"},\n    \"endTimestamp\": {\"integerValue\": \"{{ $json.endTimestamp ?? 0 }}\"},\n    \"updatedAt\": {\"stringValue\": \"{{ $json.updatedAt }}\"}\n  }\n}",
        "queryParameters": {
          "parameters": [
            {
              "name": "updateMask.fieldPaths",
              "value": "callStatus,outcome,urgency,callSummary,userSentiment,inVoicemail,transcript,recordingUrl,durationSeconds,startTimestamp,endTimestamp,updatedAt"
            }
          ]
        }
      },
      "id": "write-firestore",
      "name": "Write to Firestore",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300],
      "notes": "Uses Firestore REST API with OAuth2 (Google Cloud credentials).\nAlternatively, POST directly to your Next.js /api/webhooks/retell endpoint to use the Admin SDK."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"ok\": true}"
      },
      "id": "respond-ok",
      "name": "Respond 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Retell Webhook": {
      "main": [[{ "node": "Only call_analyzed", "type": "main", "index": 0 }]]
    },
    "Only call_analyzed": {
      "main": [[{ "node": "Transform call data", "type": "main", "index": 0 }]]
    },
    "Transform call data": {
      "main": [[{ "node": "Write to Firestore", "type": "main", "index": 0 }]]
    },
    "Write to Firestore": {
      "main": [[{ "node": "Respond 200", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "description": "Logs every completed Ava call to Firestore (clinics/{clinicId}/voiceInteractions/{callId}).\n\nRequired env vars:\n  FIREBASE_PROJECT_ID — your Firestore project (clinical-tracker-spires)\n  RETELL_CLINIC_ID    — the Firestore clinic document ID (e.g. spires)\n\nAlso requires a Google Cloud OAuth2 credential in n8n with Firestore read/write scope,\nor configure to POST to /api/webhooks/retell on your Next.js app instead (recommended).",
    "templateCredsSetupCompleted": false
  }
}
