dashboard/docs/n8n-workflows/05-after-hours-summary.json
{
  "name": "05 · After-Hours Daily Summary (Ava Digest)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1-6"
            }
          ]
        }
      },
      "id": "schedule-8am",
      "name": "8am Mon–Sat",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300],
      "notes": "Fires at 08:00 Monday–Saturday. Sends the clinic owner a digest of the previous evening's calls."
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.retellai.com/v2/list-calls?agent_id={{ $env.RETELL_AGENT_ID }}&limit=50",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.RETELL_API_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch-retell-calls",
      "name": "Fetch last 50 calls (Retell)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300],
      "notes": "Fetches recent calls from the Retell API.\n\nRequired env vars:\n  RETELL_API_KEY  — Retell API key (key_xxxxxxxxx)\n  RETELL_AGENT_ID — your Ava agent ID from the Retell dashboard"
    },
    {
      "parameters": {
        "jsCode": "const calls = Array.isArray($json) ? $json : [];\nconst now = Date.now();\n\n// Yesterday 18:00 → today 08:00 window\nconst todayDate = new Date();\nconst cutoffEnd = new Date(todayDate.getFullYear(), todayDate.getMonth(), todayDate.getDate(), 8, 0, 0).getTime();\nconst cutoffStart = cutoffEnd - 14 * 3600_000; // 14 hours back = yesterday 18:00\n\nconst overnightCalls = calls.filter(c => {\n  const ts = c.start_timestamp ?? 0;\n  return ts >= cutoffStart && ts < cutoffEnd;\n});\n\nconst voicemails = overnightCalls.filter(c => c.call_analysis?.in_voicemail === true);\nconst missed = overnightCalls.filter(c => c.call_status === 'error' || c.disconnection_reason === 'dial_no_answer');\nconst booked = overnightCalls.filter(c => {\n  const summary = (c.call_analysis?.call_summary ?? '').toLowerCase();\n  return summary.includes('book') || c.call_analysis?.custom_analysis_data?.outcome === 'booked';\n});\n\n// Format date for digest header\nconst dateStr = new Date(cutoffStart).toLocaleDateString('en-GB', {\n  weekday: 'long', day: 'numeric', month: 'long'\n});\n\n// Build digest lines\nconst lines = [];\nlines.push(`📋 Ava Overnight Summary — ${dateStr}`);\nlines.push('');\nlines.push(`Calls received after 18:00: ${overnightCalls.length}`);\nlines.push(`  • Booked: ${booked.length}`);\nlines.push(`  • Voicemails: ${voicemails.length}`);\nlines.push(`  • Missed/disconnected: ${missed.length}`);\nlines.push('');\n\nif (voicemails.length > 0) {\n  lines.push('VOICEMAILS — need callback:');\n  for (const vm of voicemails) {\n    const time = vm.start_timestamp \n      ? new Date(vm.start_timestamp).toLocaleTimeString('en-GB', { hour: '2-digit', minute: '2-digit' })\n      : '?';\n    const transcript = vm.transcript ?? vm.call_analysis?.call_summary ?? 'No transcript';\n    lines.push(`  ${time} — ${vm.from_number ?? 'Unknown'} — ${transcript.substring(0, 120)}...`);\n  }\n  lines.push('');\n}\n\nif (missed.length > 0) {\n  lines.push('MISSED CALLS — consider outbound follow-up:');\n  for (const mc of missed) {\n    const time = mc.start_timestamp\n      ? new Date(mc.start_timestamp).toLocaleTimeString('en-GB', { hour: '2-digit', minute: '2-digit' })\n      : '?';\n    lines.push(`  ${time} — ${mc.from_number ?? 'Unknown'}`);\n  }\n  lines.push('');\n}\n\nif (booked.length > 0) {\n  lines.push(`BOOKINGS TAKEN (${booked.length}):`);\n  for (const bk of booked) {\n    const summary = bk.call_analysis?.call_summary ?? '';\n    lines.push(`  • ${summary.substring(0, 100)}`);\n  }\n  lines.push('');\n}\n\nconst actionsNeeded = voicemails.length + missed.length;\nif (actionsNeeded > 0) {\n  lines.push(`Action required: ${voicemails.length > 0 ? `${voicemails.length} voicemail callback${voicemails.length !== 1 ? 's' : ''}` : ''}${voicemails.length > 0 && missed.length > 0 ? ', ' : ''}${missed.length > 0 ? `${missed.length} missed call follow-up${missed.length !== 1 ? 's' : ''}` : ''}`);\n} else {\n  lines.push('No actions required — clean overnight.');\n}\n\nlines.push('');\nlines.push('— Ava, StrydeOS');\n\nreturn [{\n  digestText: lines.join('\\n'),\n  digestHtml: '<pre style=\"font-family:monospace;font-size:13px;line-height:1.6;\">' + lines.join('\\n') + '</pre>',\n  actionsNeeded,\n  voicemailCount: voicemails.length,\n  totalOvernightCalls: overnightCalls.length,\n  dateStr,\n}];"
      },
      "id": "build-digest",
      "name": "Build overnight digest",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "resource": "email",
        "toEmail": "={{ $env.OWNER_EMAIL }}",
        "fromEmail": "ava@spiresphysiotherapy.com",
        "subject": "=Ava overnight summary — {{ $json.dateStr }} ({{ $json.actionsNeeded }} action{{ $json.actionsNeeded !== 1 ? 's' : '' }} needed)",
        "html": "={{ $json.digestHtml }}"
      },
      "id": "send-digest-email",
      "name": "Email digest to owner",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [900, 200],
      "notes": "Sends the overnight digest to the clinic owner.\n\nRequired env vars:\n  OWNER_EMAIL — clinic owner's email address (e.g. jamal@spiresphysiotherapy.com)\n\nConfigure with Resend SMTP credentials in n8n."
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.actionsNeeded }}",
              "operation": "largerEqual",
              "value2": 1
            }
          ]
        }
      },
      "id": "has-actions",
      "name": "Actions needed?",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [900, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_URL }}",
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={\n  \"text\": \":sunrise: *Ava overnight summary* — {{ $json.totalOvernightCalls }} call{{ $json.totalOvernightCalls !== 1 ? 's' : '' }} overnight, *{{ $json.actionsNeeded }} action{{ $json.actionsNeeded !== 1 ? 's' : '' }} needed*. Check your email for the full digest.\"\n}",
        "options": {}
      },
      "id": "slack-digest",
      "name": "Slack alert if actions needed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 400],
      "notes": "Optional: Slack nudge if there are voicemails or missed calls to action.\nSet SLACK_WEBHOOK_URL in n8n env vars."
    }
  ],
  "connections": {
    "8am Mon–Sat": {
      "main": [[{ "node": "Fetch last 50 calls (Retell)", "type": "main", "index": 0 }]]
    },
    "Fetch last 50 calls (Retell)": {
      "main": [[{ "node": "Build overnight digest", "type": "main", "index": 0 }]]
    },
    "Build overnight digest": {
      "main": [
        [
          { "node": "Email digest to owner", "type": "main", "index": 0 },
          { "node": "Actions needed?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Actions needed?": {
      "main": [[{ "node": "Slack alert if actions needed", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "meta": {
    "description": "Fires at 08:00 Mon–Sat and emails the clinic owner a digest of the previous evening's calls.\n\nIncludes:\n  - Total overnight calls\n  - Voicemails with transcripts (need callback)\n  - Missed/disconnected calls\n  - Bookings taken\n  - Action count summary\n  - Optional Slack nudge if actions > 0\n\nRequired env vars:\n  RETELL_API_KEY  — Retell API key\n  RETELL_AGENT_ID — Ava's agent ID in the Retell dashboard\n  OWNER_EMAIL     — clinic owner's email address\n  SLACK_WEBHOOK_URL — optional"
  }
}
